.home-page {
  display: flex;
  width: 100vw;
  height: 100vh;
}
.sidebar {
  height: 100vh;
  min-width: fit-content;
  background-color: #1d1d1f;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.topbar {
  flex-grow: 1;
}

/* Hauptinhalt unter der Topbar */
.mainBody {
  height: 100%;
  flex-grow: 1;
  padding: 1rem;
  background-color: #666666;
  min-width: 0;
  display: flex;
  flex-direction: column;
  flex-direction: row;
  box-sizing: border-box;
}
