* {
  box-sizing: border-box;
}

body {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  overflow-x: hidden;
  color: white;
}

.modul {
  border: solid #ffbd44 0.3rem;
  border-radius: 1rem;
  background-color: #f5f5f7;
  padding: 0.5rem;
  margin: 0.5rem;
  display: flex;
}

.home-page {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.main-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column; /* Topbar oben, mainbody unten */
}

.topbar {
  flex-grow: 1;
}

/* Hauptinhalt unter der Topbar */
.mainBody {
  height: 100%;
  flex-grow: 1;
  padding: 1rem;
  background-color: #666666;
  min-width: 0;
  display: flex;
  flex-direction: column;
  flex-direction: row;
  box-sizing: border-box;
}

.ernährung {
  border-color: #00ca4e;
  width: 70%;
  height: 20rem;
  color: black;
}

.kalorien {
  width: 30%;
  height: 10rem;
  color: black;
  border-color: #ff605c;
}

.training {
  width: 20rem;
  height: 5rem;
  color: black;
  border-color: #ff605c;
}

.social {
  width: 4rem;
  height: 4rem;
  border-color: #ffbd44;
  color: black;
}
