* {
  box-sizing: border-box;
}

body {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  overflow-x: hidden;
  color: white;
}

.modul1 {
  border: solid #ffbd44 0.3rem;
  border-radius: 1rem;
  background-color: #f5f5f7;
  padding: 0.5rem;
  margin: 0.5rem;
  display: flex;
}

.sidebar {
  height: 100vh;
  min-width: fit-content;
  background-color: #1d1d1f;
  padding: 0.5rem;
  padding-top: 0.7rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.navBar {
  min-width: 4rem;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #666666;
}

.navItemBar {
  margin-bottom: auto;
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navitem {
  color: #f5f5f7;
  background-color: none;
  height: fit-content;
  font-size: 2rem;
  margin-bottom: 1rem;
  background: none !important;
  border: none !important;
  box-shadow: none !important;
}

.navitem:hover {
  color: #ffbd44;
  transform: scale(1.3);
}

.socialbar {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.socialItem {
  color: #f5f5f7;
  border: none;
  background-color: none;
  height: fit-content;
  font-size: 1.5rem;
  margin-top: 0.5rem;
}

.socialItem:hover {
  transform: scale(1.3);
}

.insta {
  color: #e1306c;
}

.facebook {
  color: #1877f2;
}

.tiktok {
  color: #25f4ee;
}

.youtube {
  color: #ff0000;
}
